<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
	<title>Home</title>
</head>
<body>
	<div layout:fragment="content">
		<main id="posts">
			<article>
				<h2 class="title" th:text="${post.title}">Post Title</h2>
				<div class="date">
					<i>Posted on</i>
					<span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}"></span>
					<span th:if="${post.author}" th:remove="tag">
						<i>by</i>
				        <span th:text="${post.author.fullName != null ?
						                         post.author.fullName : post.author.username}"></span>
			        </span>
			    </div>
			    <p class="content" th:utext="${post.body}">Post content</p>
	        </article>
		</main>
	</div>
	<th:block layout:fragment="scripts">
	</th:block>
</body>
</html>