<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Blogi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/styles.css}" href="../public/css/styles.css" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap ja JQuery -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<!-- Header -->
	<header>
	<div class="container">
		<a href="index.html" th:href="@{/}">Home</a>
		<a href="users/login.html" th:href="@{/users/login}">Login</a>
		<a href="users/register.html" th:href="@{/users/register}">Register</a>
		<a href="posts/index.html" th:href="@{/posts}">Posts</a>
		<a href="posts/create.html" th:href="@{/posts/create}">Create Post</a>
		<a href="users/index.html" th:href="@{/users}">Users</a>
		<div id="logged-in-info"> <span>Hello, <b>(user)</b></span>
			<form method="post" th:action="@{/users/logout}">
				<input type="submit" value="Logout"/>
			</form>
		</div>
	</div>
	</header>
	
    <!-- Content -->
	<div class="container">
		<div layout:fragment="content"></div>
	</div>
	
	<!-- Footer -->
	<footer th:fragment="site-footer">
		&copy; Atlas Corporation 2017
	</footer>
	
	<!-- Scripts -->
	<th:block layout:fragment="scripts"></th:block>
</body>
</html>